:root {
    --font-principal: 'Raleway', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: var(--font-principal), sans-serif;
    width: 90%;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1; 
}


@media (max-width: 768px) {
    .main {
        width: 92%;
    }
}